<dialog class="edit-project-dialog">
  <form method="dialog" id="project-edit" action="">
    <div class="project-title">
      <label for="project-title">Enter project title: </label>
      <input
        type="text"
        name="project-title"
        id="project-title"
        required
        value="Project 1"
      />
    </div>
    <div class="project-description">
      <label for="project-description">Enter project description: </label>
      <input
        type="text"
        name="project-description"
        id="project-description"
        required
        value="Description 1"
      />
    </div>
    <button type="submit">Save Project</button>
  </form>
</dialog>
