<dialog class="project-dialog">
  <form method="dialog" id="project-form" action="">
    <div class="project-title">
      <label for="project-title">Enter project title: </label>
      <input type="text" name="project-title" id="project-title" required />
    </div>
    <div class="project-description">
      <label for="project-description">Enter project description: </label>
      <input
        type="text"
        name="project-description"
        id="project-description"
        required
      />
    </div>
    <button type="submit">Create Project</button>
  </form>
</dialog>
