* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../font/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Black";
  src: url("../font/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-Italic";
  src: url("../font/Lato/Lato-LightItalic.ttf");
}

body {
  font-family: "Lato";
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: clamp(200px, 30%, 400px) 1fr;
}

nav {
}

nav {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  background-color: grey;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px;
}

h1 {
  font-family: "Lato-Black";
  font-size: 24px;
}

.action {
  display: flex;
  justify-content: center;
}

/* button */
.create-project {
  font-family: "Lato-Bold";
  cursor: pointer;

  width: 128px;
  height: 64px;
  margin: 48px;
}

.create-project:hover {
}

ul {
}

li {
  border: 1px solid black;
  width: 256px;
  height: 96px;
  margin-bottom: 48px;
  display: grid;
  place-items: center;
}

li:hover {
  cursor: pointer;
}

li:active {
  transform: scale(1.05);
}

.li-selected {
}

.add-task-btn,
.edit-task {
  border: 1px solid black;
  cursor: pointer;
}

.edit-project {
  width: 16px;
  cursor: pointer;
}

.add-task-btn {
  grid-row: 3/4;
  max-width: 100px;
}

main {
  padding: 64px;
}

.project-container {
  border-bottom: 3px solid black;
  display: grid;
  grid-template-columns: 400px 100px;
  grid-template-rows: 1fr 1fr 1fr;
}

.project-title {
  font-size: 24px;
  font-family: "Lato-Bold";
}

.project-description {
  grid-column: 1/2;
}

.edit-project {
  grid-row: 1/2;
  grid-column: 2/3;
}

.task-basic-view {
  display: flex;
  justify-content: space-between;
}

.task-action-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.task-detail-container {
}

.task-container {
  border: 1px solid #333333;
  line-height: 1.5;
  width: 100%;
  cursor: pointer;

  box-shadow: inset 0 1px 0 hsl(225, 89%, 75%);
  box-shadow: 0 1px 3px hsl(225, 87%, 12%);
}

.task-title-container {
  display: flex;
}

.task-title {
  flex-grow: 1;
  font-family: "Lato-Bold";
}

.task-description {
  font-family: "Lato-Italic";
}

.task-section {
  display: flex;
  flex-wrap: wrap;
}

.edit-task-btn {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
