* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../font/Lato/Lato-Bold.ttf");
}

body {
  font-family: "Lato";
  color: #333333;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100svh;
}

nav {
  background-color: #f2f2f2;
  flex-basis: 200px;
  flex-grow: 1;
}

nav {
  display: flex;
  flex-direction: column;
}

main {
  background-color: #ffffff;
  flex-grow: 9999;
}

header {
  background-color: #3498db;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Lato-Bold";
  font-size: 24px;
}

.action {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
}

.create-project /* button */ {
  border: 1px solid black;
  padding: 20px;
  font-family: "Lato-Bold";
  background-color: #f39c12;
  cursor: pointer;
}

.create-project:hover {
  background-color: #a96a04;
}

ul {
  padding: 10px;
}

.project,
.task {
  padding: 20px;
}

.project {
  margin: 20px;
}

.add-task-btn {
  margin-top: 20px;
}
