* {
  box-sizing: border-box;
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: calc(25px * 3);
}

.square {
  border: 1px solid;
  width: 25px;
  height: 25px;
  text-align: center;
}
