* {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

input,
button {
  margin-top: 10px;
}

.shelve {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
